<a href="https://colab.research.google.com/github/Vignesh424/Breast-Cancer-Web-App/blob/main/Breast_Cancer_App.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#import packages
import numpy as np
import pickle
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import *
from sklearn.ensemble import RandomForestClassifier

In [ ]:
#data
# Load Dataset
url = "https://archive.ics.uci.edu/ml/machine-learning-databases/breast-cancer-wisconsin/breast-cancer-wisconsin.data"
names = ['id', 'clump_thickness', 'uniform_cell_size', 'uniform_cell_shape',
       'marginal_adhesion', 'single_epithelial_size', 'bare_nuclei',
       'bland_chromatin', 'normal_nucleoli', 'mitoses', 'class']
data = pd.read_csv(url, names=names)

In [ ]:
#head
data.head()

,id,clump_thickness,uniform_cell_size,uniform_cell_shape,marginal_adhesion,single_epithelial_size,bare_nuclei,bland_chromatin,normal_nucleoli,mitoses,class
0,1000025,5,1,1,1,2,1,3,1,1,2
1,1002945,5,4,4,5,7,10,3,2,1,2
2,1015425,3,1,1,1,2,2,3,1,1,2
3,1016277,6,8,8,1,3,4,3,7,1,2
4,1017023,4,1,1,3,2,1,3,1,1,2

In [ ]:
#drop the nulls
data.dropna(inplace=True)
data.head()

,id,clump_thickness,uniform_cell_size,uniform_cell_shape,marginal_adhesion,single_epithelial_size,bare_nuclei,bland_chromatin,normal_nucleoli,mitoses,class
0,1000025,5,1,1,1,2,1,3,1,1,2
1,1002945,5,4,4,5,7,10,3,2,1,2
2,1015425,3,1,1,1,2,2,3,1,1,2
3,1016277,6,8,8,1,3,4,3,7,1,2
4,1017023,4,1,1,3,2,1,3,1,1,2

In [ ]:
#shape
data.shape

(699, 11)

In [ ]:
#info
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 699 entries, 0 to 698
Data columns (total 11 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      699 non-null    int64
 1   clump_thickness         699 non-null    int64
 2   uniform_cell_size       699 non-null    int64
 3   uniform_cell_shape      699 non-null    int64
 4   marginal_adhesion       699 non-null    int64
 5   single_epithelial_size  699 non-null    int64
 6   bare_nuclei             699 non-null    object
 7   bland_chromatin         699 non-null    int64
 8   normal_nucleoli         699 non-null    int64
 9   mitoses                 699 non-null    int64
 10  class                   699 non-null    int64
dtypes: int64(10), object(1)
memory usage: 65.5+ KB

In [ ]:
#drop the nulls
data.dropna(inplace=True)
data.head()

,id,clump_thickness,uniform_cell_size,uniform_cell_shape,marginal_adhesion,single_epithelial_size,bare_nuclei,bland_chromatin,normal_nucleoli,mitoses,class
0,1000025,5,1,1,1,2,1,3,1,1,2
1,1002945,5,4,4,5,7,10,3,2,1,2
2,1015425,3,1,1,1,2,2,3,1,1,2
3,1016277,6,8,8,1,3,4,3,7,1,2
4,1017023,4,1,1,3,2,1,3,1,1,2

In [ ]:
data[data['bare_nuclei'] == '?'].sum()

id                                13721250
clump_thickness                         54
uniform_cell_size                       39
uniform_cell_shape                      46
marginal_adhesion                       29
single_epithelial_size                  39
bare_nuclei               ????????????????
bland_chromatin                         50
normal_nucleoli                         44
mitoses                                 16
class                                   36
dtype: object

In [ ]:
data.replace('?',np.nan,inplace=True)

In [ ]:
df.isna().sum()

id                        0
clump_thickness           0
uniform_cell_size         0
uniform_cell_shape        0
marginal_adhesion         0
single_epithelial_size    0
bare_nuclei               0
bland_chromatin           0
normal_nucleoli           0
mitoses                   0
class                     0
dtype: int64

In [ ]:
data['bare_nuclei'].fillna(method='ffill', inplace=True)

In [ ]:
data['bare_nuclei'] = pd.to_numeric(data['bare_nuclei']).astype('int64')

In [ ]:
data.columns

Index(['id', 'clump_thickness', 'uniform_cell_size', 'uniform_cell_shape',
       'marginal_adhesion', 'single_epithelial_size', 'bare_nuclei',
       'bland_chromatin', 'normal_nucleoli', 'mitoses', 'class'],
      dtype='object')

In [ ]:
#feature selection
X = data[['clump_thickness', 'uniform_cell_size', 'uniform_cell_shape',
       'marginal_adhesion', 'single_epithelial_size', 'bare_nuclei',
       'bland_chromatin', 'normal_nucleoli', 'mitoses']]
Y = data['class']

In [ ]:
#train and test split
X_train, X_test, Y_train, Y_test = train_test_split(
    X, Y, test_size=0.3, random_state=0
)

In [ ]:
#RandomForest
rf = RandomForestClassifier()
rf.fit(X_train, Y_train)

RandomForestClassifier()

In [ ]:
#Unseen Data
Y_pred = rf.predict(X_test)

In [ ]:
print('Accuracy :', accuracy_score(Y_test, Y_pred))

Accuracy : 0.9619047619047619

In [ ]:
file = open('breast_cancer.pkl', 'wb')

# dump information to that file
pickle.dump(rf, file)

In [ ]:
model = open('breast_cancer.pkl','rb')
forest = pickle.load(model)